body{
   background-color:var(--secondary-color) !important;
   
   
   
}
/* navbar */
.navbar{
    position: fixed;
    top: 10px;
    background-color:var(--primary-color);
    
}
.navbar-brand{
    font-family: 'Yeon Sung', cursive;
    margin-left: 15px;
    color:var(--secondary-color) !important;
  
}
.nav-link{
    margin-left: 10px;
    color:var(--secondary-color) !important;
}
.navbar-toggler{
   
    background-color: var(--secondary-color)!important;
}

/* dark mode */
.moon{
    width: 30px;
    cursor: pointer;
  margin-left: 95%;
}
:root{
     --primary-color:#edf2fc;
    --secondary-color:#010000;
   
}
.dark-theme{
    --primary-color:#030202;
    --secondary-color:#edf2fc;
}

/* header */

.txt span{
    font-size: larger;
    color: #a7132e;
}
.header{
    background-color:var(--secondary-color); 
    margin-top: 10%;
    margin-left: 10%;
   
}
.txt{
    margin-top: 90px;
    margin-left: 0px;
    animation: type 3s;
    overflow: hidden;
    white-space: nowrap;
    color: var(--primary-color);
    font-size: 50px;
    
}
.txt2{
    margin-left: 0px;
    animation: type1 3.5s;
    overflow: hidden;
    white-space: nowrap;
    color: var(--primary-color);

}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 22ch;
    }
}
@keyframes type1{
    0%{
        width: 0ch;
    }
    100%{
        width: 21ch;
    }
}
/* about */

.about{
    background-color:var(--secondary-color);
    margin-top: 100px;
    padding: 80px 0px;
    
}
.row{
    display: flex;
    justify-content: center;
   
   
}
.col1{
    flex-basis: 25%;
   
}
.col2{
    flex-basis: 45%;
    color:var(--primary-color);
    
    
    background-color: rgba(71, 77, 71, 0.3);
}
.col2 h2{
    font-weight: bold;
    font-size: 50px;

}
.col2 p{
    font-size: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.col1 img{
    width: 100%;
    height: 400px;
}
.btn .cv{
    background-color: var(--primary-color);
   color: var(--secondary-color);
  

   
   
}
.cv{
    text-align: center;
    margin-top: 60px;
    border-radius: 8px;
    
}

/* skills */

.skills h2{
    color: var(--primary-color);
    text-align: center;
}
.skills h4{
    color: var(--primary-color);
}
.skills{
    
    padding: 10%;
}
.sk{
    margin-left: 80px;
    margin-right: 80px;
}


/* works */
.works h2{
    text-align: center;
    color: var(--primary-color);
}






@media(max-width:550px){
/* nav */

    /* header */
    .header{
        margin-left: 1%;
    }
    /* about */
    .row{
        display: flex;
       
       
       
    }
    .col1{
        flex-basis: 70%;
        
    }
    .col2{
        flex-basis: 70%;
        
    }

    /* skills */
    .sk{
        margin-right: 40px;
        margin-left: 40px;
    }

}
    
